name: Terraform Destroy k8s

on:
  workflow_dispatch:  

env:
  # Yandex Cloud Secrets
  YC_FOLDER_ID: ${{ secrets.YC_FOLDER_ID }}
  YC_REGISTRY_ID: ${{ secrets.YC_REGISTRY_ID }}
  YC_ACCESS_KEY: ${{ secrets.YC_ACCESS_KEY }}
  YC_SECRET_KEY: ${{ secrets.YC_SECRET_KEY }}
  
  # Terraform Variables
  TF_VAR_folder_id: ${{ secrets.YC_FOLDER_ID }}
  TF_VAR_registry_id: ${{ secrets.YC_REGISTRY_ID }}
  TF_VAR_yc_access_key: ${{ secrets.YC_ACCESS_KEY }}
  TF_VAR_yc_secret_key: ${{ secrets.YC_SECRET_KEY }}
  
  AWS_ACCESS_KEY_ID: ${{ secrets.YC_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.YC_SECRET_KEY }}
  
  # Work directory
  TF_K8S_DIR: "Terraform/k8s"
  TF_APPLICATION_DIR: "Terraform/application"

jobs:
  terraform-destroy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4  

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.11.0

    - name: Install kubectl
      run: |
        curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
        sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
        kubectl version --client
    
    - name: Install Helm
      run: |
        curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
        chmod 700 get_helm.sh
        ./get_helm.sh
        helm version
    
    - name: Install YC CLI
      run: |
          curl -sSL https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash -s -- -n -i /home/runner/yc
          echo "/home/runner/yc/bin" >> $GITHUB_PATH
          chmod +x /home/runner/yc/bin/yc
           
    - name: yc test
      working-directory: ${{ env.TF_K8S_DIR}} 
      run: |
        yc --version

        echo '${{ secrets.YC_SERVICE_ACCOUNT_KEY_JSON }}' > sa-key.json
        chmod 600 sa-key.json

        yc config profile create github-actions
        yc config set service-account-key sa-key.json
        yc config set folder-id  ${{ secrets.YC_FOLDER_ID }}

        yc config profile list

    - name: Verify installations
      run: |
        echo "=== Tool Versions ==="
        kubectl version --client
        echo "---"
        helm version
        echo "---"
        yc --version


    - name: Terraform Init k8s
      working-directory: ${{ env.TF_K8S_DIR}} 
      run: |
        terraform init \
          -backend-config="access_key=${{ secrets.YC_ACCESS_KEY }}" \
          -backend-config="secret_key=${{ secrets.YC_SECRET_KEY }}"

    - name: Terraform Plan k8s
      working-directory: ${{ env.TF_K8S_DIR}} 
      run: |
          # Проверяем, что yc работает
          yc --version
          yc config profile list
          terraform plan   

    - name: Terraform Destroy k8s
      working-directory: ${{ env.TF_K8S_DIR}} 
      run: |
          # Проверяем, что yc работает
          yc --version
          yc config profile list

          #Удалить нод группу
          terraform destroy -target=yandex_kubernetes_node_group.node_group_k8s -auto-approve   

          #Удалить кластер
          terraform destroy -target=yandex_kubernetes_cluster.zonal_cluster -auto-approve   

          terraform destroy -auto-approve   
